.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background-color 0.3s ease;
}

.visivel {
  background-color: lightgreen;
}

.oculto {
  background-color: lightcoral;
}

button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

p {
  font-size: 18px;
  font-weight: bold;
}